{%extends 'myapp/base.html'%}
{%block body_block%}
<div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 ">
                <div class="card shadow-lg mt-5 justify-content-center">
                    <div class="card-heder text-white bg-success text-center">
                        <p class="h1">Doctor Informtaion</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <p class="lead">Doctor ID :</p>
                                 <p class="lead">Doctor Name :</p>
                                 <p class="lead">Doctor Desc :</p>
                            </div>
                            <div class="col-md-7">
                                <p class="lead fw-bold">{{doctor.DocterID}}</p>
                                 <p class="lead fw-bold">{{doctor.DoctorName}}</p>
                                 <p class="lead fw-bold">{{doctor.DoctorDesc}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <form action="">
                            {%csrf_token%}
                             </a>
                                     <a href="/edit/{{doctor.DoctorID}}/" class="ms-3">
                                        <i class="bi bi-pencil-square fs-4 text-warning"></i>
                                    </a>
                                    <a href="/delete/{{doctor.DoctorID}}/" class="ms-3">
                                        <i class="bi bi-trash-fill fs-4 text-danger"></i>
                                    </a>
                                    <a href="/" class="btn btn-sm btn-outline-success mt-3 w-100">Back</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}