{%extends 'myapp/base.html'%}
{%load static%}
{%block body_block%}
<div class="container">
    <p class="h1 text-center text-primary">register page</p>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="{% static 'images/img3.jpg'%}" class="img-fluid " style="height: 400px;" alt="">
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, error!
                    <button class="btn btn-sm btn-amber">readmore</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="{% static 'images/img4.jpg'%}" class="img-fluid" style="height: 400px;" alt="">
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, error!
                    <button class="btn btn-sm btn-amber">readmore</button>
                </div>
            </div>
        </div>
        
    
    </div>
    </div>
    </div>
</div>
{%endblock%}