{%extends 'myapp/base.html'%}
{%load widget_tweaks%}
{%block body_block%}

<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
<h1>Register</h1>
                </div>
                <div class="card-body">
                   
                    <form method="POST" >
                         {%csrf_token%}
                         <label class="form-label">First Name</label>
                         {%render_field form.first_name class="form-control mb-2"%}
                         <label class="form-label">Last Name</label>
                         {%render_field form.last_name class="form-control mb-2"%}
                         <label class="form-label">username</label>
                         {%render_field form.username class="form-control mb-2"%}
                         <label class="form-label">email</label>
                         {%render_field form.email class="form-control mb-2"%}
                         <label class="form-label">Password</label>
                         {%render_field form.password type="password" class="form-control mb-2"%}




<button class="btn btn-success w-100">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>
{%endblock%}