{%extends 'myapp/base.html'%}
{%load widget_tweaks%}
{%block body_block%}


    <p class="h1 text-center text-success">Register Page</p>
    <form action="" method="POST">
        {%csrf_token%}
       <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header bg-secondary text-white text-center">
                            <p class="h3"><i class="fas fa-user "></i>
                                Create Employee</p>
                    </div>
                    <div class="card-body">
                        {{Form.EmpId|add_class:"form-control mt-2"|attr:"placeholder:Employee ID"}}
                        {{Form.EmpName|add_class:"form-control mt-2"|attr:"placeholder:Employee Name"}}
                        {{Form.EmpSal|add_class:"form-control mt-2"|attr:"placeholder:Employee Salary"}}
                         
                 <div class="text-center"><button class="btn btn-primary btn-sm mt-2 rounded-pill">Register</button></div>
                    </div>
                </div>
            </div>
        </div>
       </div>
    </form>


{%endblock%}