{%extends 'base.html'%}
{%block body_block%}
{%load widget_tweaks%}

    
    
        
        
<div class="container">
    <p class="h1 text-center text-warning">Edit Page</p>
<div class="container mt-5">
    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    EDIT HERE
                </div>
                <div class="card-body">
                        <form action="" method="POST">
                            {%csrf_token%}
                            <div class="form-group">
                                {{Form.EmpId|add_class:"form-control"|attr:"placeholder:Employee ID"}}
                            </div>
                             <div class="form-group">
                                {{Form.EmpName|add_class:"form-control"|attr:"placeholder:Employee Name"}}
                            </div>
                             <div class="form-group">
                                {{Form.EmpSal|add_class:"form-control"|attr:"placeholder:Employee Salary"}}
                            </div>
                            <button class="btn btn-sm btn-primary">Save</button>
                            <a href="/employees" class="btn btn-sm btn-amber">Back</a>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}