<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align:center">Home page</h1>
    <h2 style="text-align:center">student id:{{ID}}</h2>
    <h2 style="text-align:center">student Name:{{Name}}</h2>
    <h2 style="text-align:center">student age:{{Age}}</h2>
    <h2 style="text-align:center">student qualification:{{Qualification}}</h2>
    <h2 style="text-align:center">student marks:{{Marks}}</h2>
</body>
</html>